<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.zuludin.store">

    <application>
        <activity
            android:name="com.app.zuludin.store.games.StoreGamesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
</manifest>